.footer-large-container {
  background-color: #0f172a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
}

.White-logo {
  height: 40px;
  width: 40px;
}
.social-icon {
  height: 40px;
  width: 40px;
  color: #ffffff;
}
.footer-heading {
  color: #ffffff;
  margin-left: 15px;
}
.footer-description {
  color: aliceblue;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 250px;
  margin-bottom: 25px;
}
